<!DOCTYPE html>
<html ng-app="student">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Xzone" />
  <meta http-equiv = "X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>德育系统-学生/家长</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />  
 </head>
<body>
 	<div class="header-blue" ng-controller="indexnavController">
 		<ul class="nav nav-tabs top-nav">
 			<li ng-class="{active:getMode() === 'my' || !getMode()}"><a ng-click="switchMode('my')">我的数据</a></li>
 			<li ng-class="{active:getMode() === 'record'}"><a ng-click="switchMode('record')">学生自评</a></li>
 			<li ng-class="{active:getMode()  === 'parent'}"><a ng-click="switchMode('parent')">家长评价</a></li>
 		</ul>
 		<div class="userinfo">
 			<span>{{User.name}}</span>
 			<a ng-click="quitLogin()">退出</a>
 		</div>
 	</div>

	<div class="content">
		<div class="content-header" ng-controller="termController">
			{{nowTrem.name}} {{nowTrem.nowmonth}}月德育评价 {{nowTrem.status?'开放中':'关闭'}} （{{nowTrem.starttime | date:'MM月dd日'}} 至 {{nowTrem.endtime | date:'MM月dd日'}}）  今天：{{nowDate | date:'MM月dd日'}}
		</div>

		<div class="content-main">
 			<!--学生个人信息-->
 			<div class="content-userinfo" ng-class="{hide:getMode() !== 'my'}" ng-controller="studentController">
 				<div class="my-badge">
 					<img src="css/imgs/badge.png" />
 					<h1>我的徽章</h1>
 					<p>应得总分: {{MyInfo.all}}</p>
 					<p>实得总分: {{MyInfo.had}}</p>
 					<p>（{{MyInfo.pre}}）</p>
 				</div>

 				<ul class="grade-badgeinfo">
 					<li>学期德育徽章规则</li>
 					<li><i class="gold"></i> 实得总分达到应得总分90%及以上</li>
 					<li><i class="silver"></i> 实得总分达到应得总分80%~90%及以上</li>
 					<li><i class="copper"></i> 实得总分达到应得总分70~80%及以上</li>
 				</ul>

 				<div class="my-grade">
 					<p>1年级 3班</p>
 					<p>9月 最高得分 98</p>
 				</div>
 			</div>
 			<!--自评说明-->
 			<div class="content-assessment-info" ng-class="{hide:getMode() === 'my'}">
 				<dl>
 					<dt>学生自评打分方法说明:</dt>
 					<dd>
 						这里需要提供详细的说明
 					</dd>
 				</dl>
 			</div>			

			<div class="content-info" ng-controller="quotaController">
 				<dl class="content-summary" ng-class="{hide:getMode() !== 'my'}">
 					<dt>
 						<div class="title">{{User.name}} 自评 {{nowDate | date:'M月' }}  总分：{{User.allrecord}}</div>
 					</dt>
 				</dl> 

 				<dl class="content-score"  ng-class="{hide:getMode() !== 'my'}"  ng-repeat="item in quotaList">
 					<dt>{{item.name}}</dt>
 					<dd class="score-info">
 						{{item.desc}}
 					</dd>
 					<dd class="score-result">
 						<ul class="score-list">
 							<li>
 								教师
 								<div>5</div>
 							</li>
 							<li>
 								自评
 								<div>4</div>
 							</li>
 							<li>
 								家长
 								<div>3</div>
 							</li>
 						</ul>
 					</dd>
 				</dl>
 					
 				<dl class="content-summary"  ng-class="{hide:getMode() === 'my'}">
 					<dt>
 						<div class="title">{{User.name}} 自评 {{nowDate | date:'M月' }} </div>
 						<div class="score-num">打分: <span ng-model=equaRecord>{{equaRecord}}</span></div>
 						<button class="btn btn-default btn-sub" ng-click="saveStudentQuota()">保存</button>
 						<button class="btn btn-default" ng-click="resetStudentQuota()">复位</button>
 					</dt>
 				</dl> 				
 				<dl class="content-score"  ng-class="{hide:getMode() === 'my'}" ng-repeat="item in quotaList" ng-model="quotaList">
 					<dt>{{item.name}}</dt>
 					<dd class="score-info">
 						{{item.desc}}
 					</dd>
 					<dd class="score-result">
 						<ul class="write-score">
 							<li>
 								打分
 								<div class="num{{item.now}}">
 									<i ng-click="setStudentQuota(item.id,1)"></i>
 									<i ng-click="setStudentQuota(item.id,2)"></i>
 									<i ng-click="setStudentQuota(item.id,3)"></i>
 									<i ng-click="setStudentQuota(item.id,4)"></i>
 									<i ng-click="setStudentQuota(item.id,5)"></i>
 								</div>
 							</li>
 						</ul>
 					</dd>
 				</dl>
			</div>
		</div>
	</div>

 	<!-- build:lib -->
 	<script src="js/lib/jquery/jquery-2.0.3.min.js"></script>
 	<script src="js/lib/angular/angular_1.2.6.js"></script>
 	<script src="js/lib/underscore/underscore.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<!-- endbuild -->

	<!-- build:index -->
	<script src="js/constants/constants.js"></script>
	<script src="js/service/UtilsService.js"></script>
	<script src="js/service/mgradeService.js"></script>
	<script src="js/service/studentService.js"></script>
	<script src="js/service/quotaService.js"></script>
	<script src="js/controllers/gradelistController.js"></script>
	<script src="js/controllers/indexnavController.js"></script>
	<script src="js/controllers/studentController.js"></script>
	<script src="js/controllers/quotaController.js"></script>
	<script src="js/student.js"></script>
	<!-- endbuild -->	


</body>
</html>