<!DOCTYPE html>
<html ng-app="student">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Xzone" />
  <meta http-equiv = "X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>德育系统-学生/家长</title>
  <link rel="stylesheet" href="css/main.css?t=1409843591602">
 </head>
<body ng-controller="studentController">
 	<div class="header-blue" ng-controller="indexnavController">
 		<ul class="nav nav-tabs top-nav">
 			<li ng-class="{active:getMode() === 'my' || !getMode()}"><a ng-click="switchMode('my')">我的数据</a></li>
 			<li class="scores" ng-class="{active:getMode() === 'record',hide:!studentTerm}"><a ng-click="switchMode('record')">学生自评</a></li>
 			<li class="scores" ng-class="{active:getMode()  === 'parent',hide:!studentTerm}"><a ng-click="switchMode('parent')">家长评价</a></li>
 		</ul>
 		<div class="userinfo">
 			<span>{{myInfo.name}}</span>
 			<a href="/student/logout">退出</a>
 		</div>
 	</div>

	<div class="content">
		<div class="content-header" ng-controller="termController">
			<span ng-class="{hide:getMode() === 'record' || getMode() === 'parent' }">
				<span class="myterm">{{myInfo.term.name}} {{studentMonth}}</span>
	 			<ul class="nav grade-dom grade-list">
	 				<li ng-class="{active:studentMonth === 0}">本学期</li>
	 				<li ng-repeat="item in myInfo.term.months" ng-click="selectStudentMonth(item.s)" ng-class="{active:studentMonth === item.s}">{{item.s}}月</li>
	 			</ul>				
			</span>
			<span ng-class="{hide:getMode() === 'my' || !getMode()}">
			{{myInfo.term.name}}  {{nowMonth-1}}月德育评价 {{studentTerm?'开放评价中':'关闭'}} （{{nowTrem.nowmonth}}月1日 至 {{myInfo.term.day}}日）  今天：{{nowDate | date:'MM月dd日'}}
			</span>
		</div>

		<div class="content-main">
 			<!--学生个人信息-->
 			<div class="content-userinfo" ng-class="{hide:getMode() !== 'my' && getMode()}">
 				<div class="my-badge">
 					<img src="css/imgs/badge.png" />
 					<h1>我的徽章</h1>
 					<p>应得总分: {{myInfo.allscore}}</p>
 					<p>实得总分: {{myInfo.totalScore}}</p>
 					<p>（{{myInfo.pre | number:2}}%）</p>
 				</div>

 				<ul class="grade-badgeinfo">
 					<li>学期德育徽章规则</li>
 					<li><i class="gold"></i> 实得总分达到应得总分90%及以上</li>
 					<li><i class="silver"></i> 实得总分达到应得总分80%~90%及以上</li>
 					<li><i class="copper"></i> 实得总分达到应得总分70~80%及以上</li>
 				</ul>
 				<div class="my-grade">
 					<p>{{myInfo.grade}}年级 {{myInfo.class}}班</p>
 					<p>{{nowMonth}}月 最高得分 {{myInfo.topScore}}</p>
 				</div>
 			</div>
 			<!--自评说明-->
 			{{studentTrem}}
 			<div class="content-assessment-info" ng-class="{hide:getMode() === 'my' || !getMode()}">
 				<dl>
 					<dt>学生自评打分方法说明:</dt>
 					<dd>
 						一、 学习方面
						　　（一）上课要求
						　　1、上课认真听讲，积极回答问题，敢于向老师提出自己不懂的问题。
						　　2、学习具有主动性，积极参与小组的讨论活动，不做旁观者，敢于发表自己的见解。
						　　3、按时到校，有事向老师请假并说明原因。
						　　4、带好每天的学习用品，包括课本、文具等。
							（二）作业要求
							　　1、 作业应该做到整洁，书写工整，规范自己的字体，做到横平竖直。
							　　2、 作业应按时按质按量完成，不按时交作业或不带作业的同学每次扣1分，作业得5个“优”的可以换一面小红旗，得一面小红旗加1分；不合格的根据情况重做或改正错处，直到合格为止。
							　　3、 每天至少读20分钟的书，并摘抄优美句词。每个月评一次“读书之星”，被评为“读书之星”的加2分；一周背诵一首古诗，由家长签字监督，古诗作为考试内容，不能按要求完成者减1分。
							　　4、 老师布置的口头作业及查资料的作业也在考核范围之内。
							　　（三）参加实践活动要求
							　　1、 积极参加各学科组织的实践活动、竞赛活动、征文活动。在校级组织的竞赛及征文活动中，获一等奖的每人次加5分，二等奖的每人次加4分，三等奖的每人次加3分。被学校选中的征文每人次加3分。在班级里被选中的作文、小报、绘画等作品，每人次加1分。在刊物上发表作文，每篇加10分。
							　　2、 积极参与社会实践活动，培养自己的能力，开阔自己的视野，增长自己的知识。
							　　3、 鼓励根据各学科的学科特点进行发明创作，根据实际情况加分。		
						二、 纪律方面
						　　（一）课堂纪律
						　　1、预备铃响之后，必须马上在座位上端正做好，等待老师上课，不许大声喧哗，更不许在座位间跑动，违者减1分。
						　　2、不做与课堂学习无关的事情，不影响他人学习，尊重老师的劳动。
						　　3、对回答问题出现错误的同学不嬉笑、不嘲讽，违者减1分。
						　　（二）课间纪律
						　　1、 下课铃响之后，不允许在教室内嬉笑打闹，不允许大声喧哗，提倡去室外活动。违者减1分。
						　　2、 在楼道内要按右侧通行，不停留、不喧哗、不追逐；见到老师要让老师先行；绝不允许在楼道内进行体育活动。违者视情节轻重减1—3分。
						　　3、 课间活动不做危险游戏，不妨碍他人的正常活动。违者视情节轻重减1—3分。
						　　（三）间操、放学
						　　1、 周一升旗时一律穿校服；按升旗仪式要求行注目礼。
						　　2、 做操要规范、用力，不敷衍、不应付。
						　　3、 站队整齐迅速，听从体育委员的指挥，走路步伐坚定有力，保持队形整齐。
						　　4、 放学一律要站好队走出校门，一直到公园门口方可解散，中途不得私自离开队伍，值日生值完日后也要站队离开。
						　　违反以上规定者根据情节轻重减分1--3分。
						　　（四）校外纪律
						　　1、 爱护公共设施，保护社区环境，不践踏草坪，不折损树木。
						　　2、 遵守公共秩序，注意防火、防盗，注意保护人身安全。
						　　3、 不恃强凌弱，不上网吧，不聚众打架斗殴，不参与一切违法犯罪的活动。
						　　违反以上规定者根据情节轻重减分1--3分											
 					</dd>
 				</dl>
 			</div>			

			<div class="content-info" ng-controller="quotaController">
 				<dl class="content-summary" ng-class="{hide:getMode() !== 'my' && getMode()}">
 					<dt>
 						<div class="title">{{myInfo.user.name}}  {{studentMonth}}月  总分：{{myInfo.total[studentMonth]}}</div>
 					</dt>
 				</dl> 
 				<dl class="content-score"  ng-class="{hide:getMode() !== 'my' && getMode()}"  ng-repeat="item in quotaList">
 					<dt>{{item.name}}</dt>
 					<dd class="score-info">
 						{{item.desc}}
 					</dd>
 					<dd class="score-result">

 						<ul class="score-list">
 							<li>
 								教师
 								<div>{{myInfo.score[studentMonth][item._id].teacher}}</div>
 							</li>
 							<li>
 								自评
 								<div>{{myInfo.score[studentMonth][item._id].self}}</div>
 							</li>
 							<li>
 								家长
 								<div>{{myInfo.score[studentMonth][item._id].parent}}</div>
 							</li>
 						</ul>
 					</dd>
 				</dl>
 					
 				<dl class="content-summary"  ng-class="{hide:getMode() === 'my' || !getMode()}">
 					<dt>
 						<div class="title">{{myInfo.name}} <span ng-hide="getMode() === 'parent'">自评</span><span ng-hide="getMode() === 'record'">家长评价</span> {{nowDate | date:'M月' }} </div>
 						<div class="score-num">打分: <span ng-model=equaRecord>{{allScore}}</span></div>
 						<button class="btn btn-default btn-sub" ng-click="saveStudentQuota()" ng-class="{hide:myInfo.score[studentMonth].length === quotaList.length}">保存</button>

 						<button class="btn btn-default" ng-click="resetStudentQuota()">复位</button>
 					</dt>
 				</dl>
 				<dl class="content-score"  ng-class="{hide:getMode() === 'my' || !getMode()}" ng-repeat="item in quotaList" ng-model="quotaList">
 					<dt>{{item.name}}</dt>
 					<dd class="score-info">
 						{{item.desc}}
 					</dd>
 					<dd class="score-result">
 						<ul class="write-score">
 							<li>
 								打分
 								<div class="num{{nowScore[item.id]}}">
 									<i ng-click="setStudentQuota(item.id,1)"></i>
 									<i ng-click="setStudentQuota(item.id,2)"></i>
 									<i ng-click="setStudentQuota(item.id,3)"></i>
 									<i ng-click="setStudentQuota(item.id,4)"></i>
 									<i ng-click="setStudentQuota(item.id,5)"></i>
 								</div>
 							</li>
 						</ul>
 					</dd>
 				</dl>
			</div>
		</div>
	</div>
	<div ng-controller="msgController"></div>

 	<script src="js/lib/jslib.js"></script>

	<script src="js/student.js?t=1409843591602"></script>


</body>
</html>