<!DOCTYPE html>
<html ng-app="teacher">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Xzone" />
  <meta http-equiv = "X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>德育系统-老师</title>
  <link rel="stylesheet" href="css/main.css?t=1408269880728">
 </head>
<body ng-controller="teacherController">
 	<div class="header-blue" ng-controller="indexnavController">
 		<ul class="nav nav-tabs top-nav">
 			<li ng-class="{hide:User.auth === 0,active:getMode() === 'result'}"><a ng-click="switchMode('result')">评价统计</a></li>
 			<li ng-class="{active:getMode() === 'record'}"><a ng-click="switchMode('record')">评价</a></li> 			
 		</ul>
 		<div class="userinfo">
 			<span>{{Teacher.cnname}}</span>
 			<a href="/manage.html" ng-hide="{{Teacher.deptType === 1}}">管理</a>
 			<a href="/teacher/logout">退出</a>
 		</div>
 	</div>

 	<div class="content">
 		<div ng-controller="mHeaderNavController">
	 		<div class="content-header">
	 			<div class="grade-zone">
		 			<div class="grade-dom dropdown" >
		 				<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-model="Term.name">{{Term.name}} <span class="caret"></span></a>
		 				<ul class="dropdown-menu" role="menu">
		 					<li ng-repeat="item in termList"><a ng-click="selectTerm(item._id)">{{item.name}}</a></li>
		 				</ul>
		 			</div>
		 			<div class="grade-dom dropdown">
		 				<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-model="nowGrade">{{nowGrade}}年级 <span class="caret"></span></a>
		 				<ul class="dropdown-menu" role="menu">
		 					<li ng-repeat="item in gradeList">
		 						<a data-value="{{item.id}}" ng-click="changeGrade(item.id)">{{item.name}}</a>
		 					</li>		 					
		 				</ul>
		 			</div>
		 			<div class="grade-dom dropdown">
		 				<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-model="nowClass">{{nowClass}}班 <span class="caret"></span></a>
		 				<ul class="dropdown-menu" role="menu">
		 					<li ng-repeat="item in classList"><a ng-click="changeClass(item.id)">{{item.name}}</a></li>
		 				</ul>
		 			</div>		 				 			
		 			<ul class="nav grade-dom grade-list">
		 				<li ng-class="{active:nowMonth === 0}">本学期</li>
		 				<li ng-repeat="item in Term.months" ng-click="selectMonth(item.s)" ng-class="{active:nowMonth === item.s}">{{item.s}}</li>
		 			</ul>
	 			</div> 			


	 			<div class="search-zone">
	 				<input type="text" value={{keyword}}  placeholder="请输入学生姓名查找" />
	 				<button type="submit" />
	 			</div>
 			</div>
 		</div> 

 		<div class="content-main">
 			<!--学生列表-->
 			<div class="content-list" ng-controller="studentController">
 				<table class="table table-striped table-hover" ng-model='studentList'>
 					<tr>
 						<th>姓名<span class="uaret"></span></th>
 						<th>性别<span class="caret"></span></th>
 						<th>年级<span class="caret"></span></th>
 						<th>班级<span class="caret"></span></th>
 						<th>得分<span class="caret"></span></th>
 					</tr>
 					<tr ng-repeat="item in studentList" ng-click="selectStudent(item._id)">
 						<td>{{item.name}}</td>
 						<td>
 							<span ng-hide="item.sex">女</span>
 							<span ng-show="item.sex">男</span>
 						</td>
 						<td>{{item.grade}}年级</td>
 						<td>{{item.class}}班</td>
 						<td>{{item.score[nowMonth]}}</td>
 					</tr>
 				</table>
 			</div>

 			<div class="content-info" ng-controller="quotaController">
 				<!--年级概要-->
 				<dl class="content-summary" ng-class="{hide:getMode() === 'record'}">
 					<dt>1年级 4班 概要9月</dt>
 					<dd>
 						<ul>
 							<li>1年级 4班 最高得分: xx 98分</li>
 							<li>1年级 4班 最低得分: xx 98分</li>
 						</ul>
 						<ul>
 							<li>未参评学生数目: xxx <a>查看名单</a></li>
 							<li>未参评老师数目: xxx <a>查看名单</a></li>
 						</ul>
 					</dd>
 				</dl>

 				<div ng-class="{hide:getMode() === 'record'}"> 
	 				<dl class="content-summary">
	 					<dt>
	 						<div class="title">{{nowStudent.name}} {{nowStudent.grade}}年级 {{nowStudent.class}}班 本学期 总分: 98 全校排名 :1 </div>
	 						<button class="btn btn-default">返回概要</button>
	 					</dt>
	 				</dl> 

	 				<dl class="content-score" ng-repeat="item in quotaList">
	 					<dt>{{item.name}}</dt>
	 					<dd class="score-info">
	 						{{item.desc}}
	 					</dd>
	 					<dd class="score-result">
	 						<ul class="score-list">
	 							<li>
	 								教师
	 								<div ng-model="nowStudent.score.teacher">{{nowStudent.scorelist[nowMonth][item._id].teacher}}</div>
	 							</li>
	 							<li>
	 								自评
	 								<div ng-model="nowStudent.score.self">{{nowStudent.scorelist[nowMonth][item._id].self}}</div>
	 							</li>
	 							<li>
	 								家长
	 								<div ng-model="nowStudent.score.teacher">{{nowStudent.scorelist[nowMonth][item._id].teacher}}</div>
	 							</li>
	 						</ul>
	 					</dd>
	 				</dl>
 				</div> 	

 				<dl class="content-summary"  ng-class="{hide:getMode() !== 'record'}" ng-model="nowStudent">
 					<dt>
 						<div class="title">{{nowStudent.name}} 老师评价 {{nowDate | date:'M月' }} </div>
 						<div class="score-num">打分: <span ng-model=equaRecord>{{allScore}}</span></div>
 						<button class="btn btn-default btn-sub" ng-click="saveStudentQuota()">保存</button>
 						<button class="btn btn-default" ng-click="resetStudentQuota()">复位</button>
 					</dt>
 				</dl> 				
 				<dl class="content-score"  ng-class="{hide:getMode() !== 'record'}" ng-repeat="item in quotaList" ng-model="quotaList">
 					<dt>{{item.name}}</dt>
 					<dd class="score-info">
 						{{item.desc}}
 					</dd>
 					<dd class="score-result">
 						<ul class="write-score">
 							<li>
 								打分
 								<div class="num{{item.now}}">
 									<i ng-click="setStudentQuota(item.id,1)"></i>
 									<i ng-click="setStudentQuota(item.id,2)"></i>
 									<i ng-click="setStudentQuota(item.id,3)"></i>
 									<i ng-click="setStudentQuota(item.id,4)"></i>
 									<i ng-click="setStudentQuota(item.id,5)"></i>
 								</div>
 							</li>
 						</ul>
 					</dd>
 				</dl> 							
 			</div> 			
	 	</div>	
 	</div>
	<div ng-controller="msgController"></div>

 	<script src="js/lib/jslib.js"></script>

	<script src="js/teacher.js?t=1408269880728"></script>

 </body>
 </html>